body {
    font-family: sans-serif;
    background-color: #333;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h1 {
    color: white;
  }
  
  .title {
    margin: 0;
    text-align: center;
  }
  
  .number-input {
    width: 5px;
  }
  
  .password-display {
    background-color: white;
    color: black;
    padding: 5%;
    border: 1px solid #333;
    height: 2rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: 5rem;
  }
  
  label {
    font-weight: bold;
  }
  
  .character-amount-container {
    display: flex;
    align-items: center;
  }
  
  .Container {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #069;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
  }
  
  .btn:hover {
    background-color: #FFFFFF33;
  }